:root{
    --primary-color:rgb(29, 194, 240);
    --secondary-color:rgba(36,122,55,0.9s);
    --padding:0rem;
    --transition: all 0.3s;
    --border-radious:0.6rem;
    --box-shadow:0.1rem 0.2rem 0.8rem reba(205,202,202,0.5);

}
*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;

}
html{
    scroll-behavior: smooth;
}
img{
    width: 100px;
    height: auto;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    border: 1px;;
    cursor:pointer;
    text-transform: uppercase;
    transition: var(--transition);
}
.btn:hover{
    background-color:yellowgreen;
}
nav{
    font-family:sans-serif;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    left:0;
    z-index:100;
}
.nav-upper{
    min-height: 10vh;
    background-color: var(--primary-color);
    padding: 1rem 0;
}
.nav_list{
    transition: var(--transition);
}
.nav_list:hover{
    text-decoration: overline;
    color:black
}
.nav_link{
    color:white;
    transition: var(--transition);
}
.nav_link:hover{
    color:black;
    
}
.profile-icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border:white 1px solid;
    filter: saturate(0);
    transition: var(--transition);
}
.profile-icon:hover{
    filter: saturate(1);
}
.header{
    padding:4rem 0;
    height:80vh;
    background-color:rgb(32, 180, 230);
    background-size: cover;
}

.banner_title{
    font-size: 2rem;
    color: rgb(29, 60, 87);
    padding: 1rem;
    border-radius: var(--border-radious);
    top: 100%;
}
.features{
    width: 100%;
}
.feature{
    background-color: rgba(9, 174, 220, 0.935);
    border-radius: var(--border-radious);
    padding: 1rem;
    width: 15rem;
    flex-direction: column;
    gap: 1rem;
}
.feature_icon{
    font-size: 3rem;
}
.footer{
    padding:1rem;
    background-color: rgb(246, 95, 19);
    min-height: 10vh; 
    color:white ;
    font-size: 1.1rem;

}
.btn-subscribe{
    margin-left:none ;
}
.footer_input{
    border: none;
    padding: var(--padding);
    width: 20rem;
}

@media(max-width: 992px){
     .flex-space-around{
        flex-direction: column;
        gap:1rem;
        padding:1rem 0;
     }
     .header{
        height: 100vh;
     }
}
@media(max-width: 768px){
    
}
@media(max-width: 600px){
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container img {
    width: 600px; 
    height: auto;
}
.container p {
    width: 50%; 
    font-size: 1.1rem;
    font-style:var(--transition);
}
table {
    border-collapse: collapse;
   
}
td {
    background-color: aquamarine;
    border: 1px solid black;
    padding: 10px; 
    width: 20%;
}